# to install all this requirements
#`pip install -r requirements.txt`
torch
torchvision

# -- image
scikit-image
opencv-python
chumpy

# -- other
loguru
tqdm
yacs
wandb
# -- evaluation
lpips
torchmetrics

face-alignment
# imageio
# others
# kornia
# pytorch3d
# trimesh
# ipdb
# einops
# pytorch_lightning
# imageio-ffmpeg
# PyMCubes
# open3d
# plyfile
# 
# nerfacc
# packaging
#  "git+https://github.com/facebookresearch/pytorch3d.git"
# git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch